PORT=3000
BASE_URL=http://localhost:3000
PAYFAST_MODE=sandbox
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=
ADMIN_TOKEN=change-this-long-secret
PRODUCT_PRICE=199.00
